:root {
    --color-primario: #F02D1D;    /* Rojo */
    --color-secundario: #BBD60B;  /* Verde */
    --color-terciario: #0575F0;
    --color-cuaternario: #EDFF84;  
    --color-azul-claro:#057DFC; 
    --color-celeste:#76C7FF; /* Azul */

    --font-titulos:font-family: 'Montserrat', sans-serif;
    --font-textos:'Open Sans', sans-serif;
  }
.container{
    display: flex;
    width: 100%;
}