
.experiencia_profesional{
    padding: 50px;
    height: auto;
}
.experiencia_profesional__titulo{
    font-family: var(--font-titulos);
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
}

.experiencia__parrafo{
    text-align: center;
    font-size: 1em+1vw;
}
.experiencia_card{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-top-right-radius: 50px;
    background-color: var(--color-celeste);
}
.experiencia__img{
    width: 65%;
    max-width: 65%;
}
.experiencia__textos{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.buton__container{
    width: 80%;
    margin-top: 5%;
    display: flex;
    justify-content: center;

}
.experiencia__buton{
    width: 45%;
    height: 50px;
    font-family: var(--font-textos);
    font-weight: bold;
    color: white;
    font-size: 0.5em +1vw;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}


.experiencia__button--positivo{
    background-color: var(--color-terciario);
}

.experiencia__button--positivo:hover{
    background-color: white;
    color: var(--color-terciario);
    transition: 1.5s;
}

.experiencia__button--negativo{
    border: 2px solid;
    border-color: var(--color-terciario);
    background-color: transparent;
    color: var(--color-terciario);
}
.experiencia__button--negativo:hover{
    border: 2px solid;
    border-color: var(white);
    background-color: var(--color-terciario);
    color: white;
    transition: 1.5s;
}



@media screen and (max-width: 768px) {
    .experiencia_profesional__titulo{
        font-size: 2rem;
    }

    .experiencia_card{
        flex-direction: column;
        width: 100%;
    }
    .experiencia__img{
        min-width: 100%;
        max-width: 100%;
        max-height: 60%;
    }
    .experiencia__titulo{
        font-size: 2rem;
        padding: 5px;
    }
    .experiencia__parrafo{
        font-size: 1.5rem;
    }

    .experiencia__textos{
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        
    }
    .buton__container{
        
        display: flex;
        justify-content: center;
        margin-top: 10px;
        
    
    }
    
}

@media screen and (max-width: 480px) {

    .experiencia_profesional{
        height: auto;
    }

    .experiencia_profesional__titulo{
        font-size: 1.5rem;
        font-weight: 700;
    }
  
    .experiencia__textos{
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        
    }
    .experiencia__titulo{
        font-size: 1rem;
        font-weight: 700;
    }


    .experiencia__parrafo{
        font-size: 1rem;
    }


}
