
.header{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    

}

.nav{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--color-terciario);  
}

.nav__logo{
    color: white;
    text-decoration: none;
    width: 25%;
    padding-left: 50px;
}

.nav__ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 75%;

}

.nav__a{
    color: white;
    text-decoration: none;
}
.nav__li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.nav__li:hover{
    background-color: var(--color-celeste);
    transition: 1s;
    font-size: 1.6rem;
}

.section{
    display: flex;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    width: 75%;
}

.informacion__titulo{
    font-size: 3.5rem;
    font-weight: 500;

}

.informacion__texto{
 font-family: 'Open Sans', sans-serif;
 line-height: 3rem;
  font-size: 2rem;
}

.informacion__imagen{
    margin-right: 100px;
    height: 450px;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
   
    
}
.redes_sociales{
    display: flex;
    max-width: 75%;
    justify-content: space-between;
}

.redes_sociales__a{
    text-decoration: none;
}
        
@media screen and (max-width: 768px) {
    .section{
        
        margin-right: 50px;
    }

    .nav__a{
        font-size: 1rem;
        margin-right: 10px;
    }
    .informacion__imagen{
        justify-content: center;
        margin: auto;
        max-width: 200px;
        max-height: 200px;
    }
    .informacion__titulo{
        font-size: 2rem;
    }
    .informacion__texto{
         font-size: 1rem;
    }
    
    .redes_sociales{
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        font-size: 1rem;
    }
    
    .redes_sociales__a{
        text-decoration: none;
    }

}


@media screen and (max-width: 480px) {
    .section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    
    .informacion__imagen{
       order: -1;
       width: 150px;
       height: 150px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 20px;
    }
    .informacion__titulo{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .informacion__texto{
         font-size: 1rem;
         line-height: 1.5rem;
    }
    
    .redes_sociales{
        
        font-size: 0.8rem;
    }
    
   

}